body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    width: 350px;
    height: 370px;
    border: 3px solid #000;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.display {
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 24px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.buttons .onoff {
    grid-column: span 2;
}

.buttons .clear {
    grid-column: span 2;
}